body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8; /* Set a background color for the entire body */
    margin: 10px; /* Add margin to the body */
    padding: 0;
  }
  
  .container {
    max-width: 50%;
    margin: 5px auto; /* Add margin to the container */
    background-color: #fff; /* Set background color for the container */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333; /* Text color for the heading */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 12px;
    width: 50%;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 18px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0; /* Add margin to the table */
    background-color: #f8f8f8; /* Set background color for the table */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 16px; /* Increase text size for table cells */
  }
  
  th {
    background-color: #f2f2f2;
  }
  